/*meiyi*/
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; 
  display: grid;

}

body {
  margin: 0;
  font-family: "Poppins",'Noto Sans TC', Arial, sans-serif,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f9f9ff;
}

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: black;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #FF4C60;
    text-decoration: none; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2; }

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

#ftco-navbar{
  position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 16px;
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(0,0,0,.5);
}
.navbar-dark .navbar-nav .nav-link.active{
  color:black;
}
.navbar-nav > .nav-item > .nav-link span {
  position: relative;
  display: block;
  padding-bottom: 2px;
  font-weight: 500;
}
.navbar-nav > .nav-item > .nav-link span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #3e64ff;
  visibility: visible;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-nav > .nav-item .nav-link.active span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-nav > .nav-item > a:hover {
  background-color: #f8f9fa;
  color:#3e64ff !important;
}
section#home{
  background: #283b4c;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  color: white;
  background: -webkit-linear-gradient(top,rgba(255,255,255,1),rgba(40 59 76 / 47%)),url(../img/20200128_071616.JPG) center bottom no-repeat;
}
/*CSS純動畫*/
/*
.banner{
  width:100%;
  position: relative;  
}
.wave{
  background-color: #4c7090;
  width: 200vw;
  height: 200vw;
  opacity: 0.4;
  position: absolute;
  top: -75vw;
  left: 50%;
  margin-left:-100vw;
  margin-top: -100vw;
  border-radius: 43%;
  animation: rotate 9000ms infinite linear;  
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(400deg);
  }
}

.wave:nth-child(1){
  animation: rotate 12000ms infinite linear;
}
.wave:nth-child(2){
  animation: rotate 15000ms infinite linear;
  opacity: 0.1;
  background-color: #777;
}
*/

#home .intro{
  margin: auto;
  max-width: 540px;
  text-align: center;
  position: relative;
  z-index: 1;
  color:white;
}
.container{
  width: 100%;
  margin: 0;
  padding: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.scroll{
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
.mouse{
  border: solid 2px #FFF;
  border-radius: 16px;
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 30px;
  position: relative;
  width: 20px;
}
.roll{
  border: solid 2px #FFF;
  border-radius: 100%;
  display: block;
  margin: auto;
  height:4px;
  width:4px;
  position: absolute;
  top:10px;
  left: 40%;
  -webkit-animation: move-mouse 1.5s infinite alternate;
  -moz-animation: move-mouse 1.5s infinite alternate;
  animation: move-mouse 1.5s infinite alternate;
}


@keyframes move-mouse
{
  0% {top: 4px;}
  50% {top: 10px;}
  100% {top: 4px;}
}

@-webkit-keyframes move-mouse /*Safari and Chrome*/
{
  0% {top: 4px;}
  50% {top: 10px;}
  100% {top: 4px;}
}

.mouse-icon{
  color:white;
}

#to-top{
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  display: none;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 100%;
  z-index: 4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#to-top>i{
  font-size: 20px;
  color: #fff;
  margin: 0;
  position: relative;
  left: 11px;
  top: 10px;
}
footer{
  background: #283b4c;
  color:#fff;
  text-align: center;
  padding: 1em 0;
  font-size: 14px;
}
.experience .col-md-6{
  margin: 10px 0;
}
/*技能*/
.skill{
  margin-bottom: 20px;
}
.skill_name{  
  padding-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.skill_name::before, .skill_name::after{
  width: 8px;
  height: 25px;
  content:'';
  background:#ea7280;
  margin: 0 20px;
  transform: skew(334deg, 4deg);
  display: block;
  top: -3px;
  position: relative;
}

/*timeline*/
.timeline{
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  -moz-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  border-radius: 20px !important;
  position: relative;
  padding: 30px;
  background: #FFF;
}
.timeline-container{
  padding-left: 40px;
  margin-bottom: 30px;
  position: relative;
  background-color: inherit;
  width: 100%;
}
.timeline .content .time {
  color: #8B88B1;
  font-size: 14px;
}
.timeline .content h3 {
  font-size: 20px;
  margin: 10px 0;
}
.timeline .content p {
  margin: 0;
}
.timeline .timeline-container::after {
  content: "\f0b1";
  background: #FFF;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 24px;
  color: #FF4C60;
  position: absolute;
  left: -8px;
  top: -7px;
  z-index: 1;
}
.timeline .timeline-container.work::after {
  content: "\f0b1";
  background: #FFF;
  font-family: "Font Awesome 5 Free";
}
.timeline .timeline-container.medal::after {
  content: "\f5a2";
  background: #FFF;
  font-family: "Font Awesome 5 Free";
}
.timeline span.line {
  position: absolute;
  width: 1px;
  background-color: #FF4C60;
  top: 30px;
  bottom: 30px;
  left: 34px;
}

/*timeline end*/


/*作品集*/
.item-btn{
  justify-content: center;
}
.item-btn>input{
  display: none;
}
.item-btn label{
  margin:10px 5px 20px 5px;
  border: none;
  padding: 10px;
  background: none;
  text-align: center;
}
.item-btn label:after {
  position:absolute;
  content:'';
  height:3px;
  width:100%;
  background:#ea7280;
  left:0;
  bottom:2px;
  transition:.5s;
  transform:scaleX(0)
}
.item-btn label:hover:after {
  background:#ea7280;
  bottom:2px;
  transition:.5s;
  transform:scaleX(1)
}
.item-btn input[type='radio']:checked+label:after{
  transform:scaleX(1)
}
.item-btn input[type='radio']:checked+label{ 
  z-index:1;
  opacity:1;
  transform:translateY(0)
}
.item-main{
  
}

.webing .itemImg, .webing .itemImgIn{
  display: block;
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}
.itemImgIn {
  border-radius: 15px;
  overflow: hidden;
}
.itemImgIn:hover::before{
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(34,34,34,.9) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(34,34,34,.9)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(34,34,34,.9) 100%);
  background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(34,34,34,.9) 100%);
  background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(34,34,34,.9) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(34,34,34,.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#0e1015',GradientType=0);
  pointer-events: none;
}
.blacktitle{
  display: none;
  color: white;
  padding:0 10px;
  text-align: center;
}
.itemImgIn:hover .blacktitle{ 
  width: 100%;
  position: absolute;
  height: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
span.item {
  color: #FFF;
  background: #344f98;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  opacity: 1;
  display: inline-block;
  padding: 3px 10px;
  position: absolute;
  top: 0;
  left: 20px;
}
.itemImgIn img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.more-button {
  color: #FFF;
  font-size: 14px;
  display: block;
  background: #344f98;
  border-radius: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  bottom: 11px;
  right: 20px;
  width: 30px;
}
.itemImg.fade{    
  transition: all 1s;
  display: none;
}
.itemImg .modal-dialog.showimg{
  /*想不出辦法依照比例*/  
  object-fit: cover;
}

/*頁面動畫*/
.intro{  
  opacity: 0;
  animation-name: fadeinup;    /*動畫名稱，需與 keyframe 名稱對應*/
  animation-duration: 1.5s;    /*動畫持續時間，單位為秒*/     
  animation-fill-mode: forwards; /*停止在最後一幀*/
}
@keyframes fadeinup{
  0% {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
	  transform: translate(0,30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
#experience_section{
  left:-500px;
  opacity:0;
  position: relative;
}

#portfolio_section{
  opacity: 0;
  top: 108px;
  position: relative;
}


@media (min-width: 992px){
  .navbar-brand{
    display: none;
  }
}

@media (max-width: 576px){
  .skill_name{
    padding-bottom: 20px;
  }
  .skill_text{
    justify-content: center !important;
    padding-left: 20%;
  }
}
